{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>{{name}} stats</h1>
        <br>
        <div class="row">
            <div class="column left">
                <p> Emotional tone </p>
            </div>
            <div class="column right">
                <p> unknown</p>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <p> My profile activity </p>
            </div>
            <div class="column right">
                <p> unknown</p>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <p> Other profiles activity </p>
            </div>
            <div class="column right">
                <p> unknown</p>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <p> Total score </p>
            </div>
            <div class="column right">
                <p> unknown</p>
            </div>
        </div>
    </div>

{% endblock%}