{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <h1 align="center">Estimate user image</h1>
        <br>
        <form action="" method="post">
            <div class="form-row">
                <div class="col">
                    <input type="date" class="form-control" placeholder="From" name="from" id="datefrom" >
                </div>
                <div class="col">
                    <input type="date" class="form-control" placeholder="To" name="to" id="dateto" >
                </div>
            </div>
            <br>
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{
                  request.form.username }}">
            <br>
            <input class="btn btn-primary btn-lg btn-block but-prim" type="submit" value="Go!">
        </form>
    </div>
    <script>
        $('#datefrom').datetimepicker({
            format: 'DD-MM-YYYY',
            locale: 'ru',
            defaultDate: moment(),
            maxDate: moment()
        });
    </script>
    <script>
        $('#dateto').datetimepicker({
            format: 'DD-MM-YYYY',
            locale: 'ru',
            defaultDate: moment(),
            maxDate: moment()
        });
    </script>
{% endblock%}