{% extends 'base.html' %}
{% block content %}
<br>
<h1 class="display-2 d-none d-xl-block" align="center">Welcome to Instagrammer!</h1>
<h1 class="display-3 d-none d-lg-block d-xl-none" align="center">Welcome to Instagrammer!</h1>
<h1 class="display-4 d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" align="center">Welcome to Instagrammer!
</h1>
<br>
<!-- <form action="" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
            <br>
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
            <br>
            {% if error %}
              <div class="alert alert-danger" role="alert">
                <strong>Error:</strong> {{ error }}
              </div>
            {% endif %}
            <input class="btn btn-primary btn-lg btn-block but-prim" type="submit" value="Login">
        </form> -->
<div class="row">
  <div class="col-lg-7">
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="exampleInputUser1">Username</label>
        {{ form.username(class_="form-control") }}
      </div>
      <div class="form-group">
        <label for="examplePassUser1">Password</label>
        {{ form.password(class_="form-control") }}
      </div>
      <div class="form-check checkbox">
        {{ form.remember_me(class_="form-check-input checkbox") }}
        {{ form.remember_me.label(class_="form-check-label") }}
      </div>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        <br>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        {{ form.submit(class_="btn btn-primary btn-raised") }}
        <a href="{{ url_for('main.register') }}" class="btn">Click to Register!</a>
    </form>
  </div>
  <div class="col-lg-5">
    <img src="{{ url_for('static', filename='login.svg') }}" align="middle" class="login-image">
  </div>
</div>
{% endblock%}