{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <br>
        <h1 class="display-2 d-none d-xl-block" align="center">Welcome to Instagrammer!</h1>
        <h1 class="display-3 d-none d-lg-block d-xl-none" align="center">Welcome to Instagrammer!</h1>
        <h1 class="display-4 d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" align="center">Welcome to Instagrammer!</h1>
        <br>
        <form action="" method="post">
            <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
            <br>
            <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
            <br>
            {% if error %}
              <div class="alert alert-danger" role="alert">
                <strong>Error:</strong> {{ error }}
              </div>
            {% endif %}
            <input class="btn btn-primary btn-lg btn-block but-prim" type="submit" value="Login">
        </form>
        <img src="{{ url_for('static', filename='login.svg') }}" align="middle" class="index_image">
    </div>
{% endblock%}