{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <br>
        <h1 class="display-2 d-none d-xl-block" align="center">Let's count some statistics</h1>
        <h1 class="display-3 d-none d-lg-block d-xl-none" align="center">Let's count some statistics</h1>
        <h1 class="display-4 d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" align="center">Let's count some statistics</h1>

        <br>
        <form action="" method="post">
            <div class="form-row">
            <a class="btn btn-primary btn-lg btn-block but-prim" id="profile" href='/stats/profile'>Profile</a>
            <a class="btn btn-primary btn-lg btn-block but-prim" id="post" href='/stats/post'>Post</a>
            </div>
        </form>

        <img src="{{ url_for('static', filename='stat.svg') }}" align="middle" class="stat-image">
    </div>

{% endblock%}